{% extends 'base.html' %}

{% load static %}


{% block main_content %}
<div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar"action="{% url 'index' %}" method="get">
                <input type="text" name="pattern" placeholder="Search by pet name..." value="{{ pattern }}">
                <button>
                    <img src="{% static '/images/search.png' %}" width="18" height="18" alt="img2">
                </button>
            </form>
            {% include 'partials/pet_list.html' with pets_list=pet_photos%}

        </div>
    </div>
{% endblock %}

<